<html>
  <head>
    <style>
    a {color: #102a43;}
    </style>
  </head>
  <div
    style="
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    "
  >
    <div style="margin-left: auto; margin-right: auto; width: 600px">
      <div style="font-size: 36px; margin-bottom: 10px; white-space: nowrap">
        <a
          href="{{website_url}}"
          style="color: #102a43; text-underline-offset: 10px"
        >
          Diogenes Health
        </a>
      </div>
      <div style="color: #4a5058; margin-top: 10px">
        <p>
          {{ username }} has sent you <b>{{ document_name }}</b> using Diogenes Health. To download 
          this file, please click <a href="{{document_url}}">here</a>.
        </p>
        <p>The link will expire in 7 days.</p>
        <p>Thanks,</p>
        <p>The Diogenes Health team</p>
      </div>
    </div>
  </div>
</html>