.template-editor {
  background-color: #f2f3f5;
}

.template-editor-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: min(calc(100% - 20px), 600px);
}

.template-editor-header {
  background-color: white;
  border: 1px solid #aeb5be;
  border-radius: 6px;
  padding: 10px;
}

.template-editor-title input {
  border-width: 0 0 2px;
  border-color: #aeb5be;
  border-radius: 0;
  box-sizing: border-box;
  color: #102a43;
  font-size: 36px;
  outline: 0;
  padding-bottom: 5px;
  padding-left: 0;
  width: 100%;
}

.template-editor-title input:focus {
  border-color: #858c95;
}

.template-editor-options {
  display: flex;
  margin-top: 10px;
}

.template-editor-notice {
  color: #4a5058;
}

.template-editor-cancel {
  margin-left: auto;
}

.template-editor-cancel button {
  align-items: center;
  background: none;
  border: 1px solid #aeb5be;
  border-radius: 6px;
  color: #4a5058;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.template-editor-cancel button:hover {
  background: #ebedef;
}

.template-editor-save {
  margin-left: 5px;
}

.template-editor-save button {
  align-items: center;
  background: #4a5058;
  border: none;
  border-radius: 6px;
  color: #f2f3f5;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.template-editor-save button:hover {
  background: #858c95;
}

.template-editor-sections-container {
  background-color: #f2f3f5;
  margin-top: 20px;
}

.template-editor-not-signed-in-notice-title {
  color: #102a43;
  font-size: 24px;
}

.template-editor-not-signed-in-notice {
  color: #4a5058;
  margin-top: 20px;
}

.template-editor-not-signed-in-notice a {
  color: #4a5058;
  text-decoration: underline;
}

.template-editor-not-signed-in-buttons {
  color: #4a5058;
  margin-top: 25px;
}

.template-editor-not-signed-in-buttons button {
  align-items: center;
  background: none;
  border: 1px solid #174937;
  border-radius: 6px;
  color: #174937;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.template-editor-not-signed-in-buttons button:hover {
  background: #174937;
  color: white;
}

.template-editor-section-container {
  background-color: white;
  border: 1px solid #aeb5be;
  border-radius: 6px;
  display: flex;
  margin-top: 20px;
}

.template-editor-section-drag-handle {
  align-items: center;
  background-color: #dee2e6;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
}

.template-editor-section {
  padding: 10px;
  width: 100%;
}

.template-editor-section-name {
  width: 100%;
}

.template-editor-section-name input {
  border-color: #aeb5be;
  border-radius: 0;
  border-width: 0 0 2px;
  box-sizing: border-box;
  color: #102a43;
  font-size: 24px;
  height: 30px;
  outline: 0;
  padding-bottom: 5px;
  padding-left: 0;
  width: 100%;
}

.template-editor-section-name input:focus {
  border-color: #858c95;
}

.template-editor-section-setting {
  margin-top: 20px;
}

.template-editor-section-setting button {
  background: none;
  border: none;
  border-radius: 50%;
  color: #4a5058;
  cursor: pointer;
  padding: 10px;
}

.template-editor-section-setting button:hover {
  background: #ebedef;
}

.template-editor-section-setting select {
  color: #102a43;
  font-size: 16px;
  height: 25px;
}

.template-editor-section-setting textarea {
  border-color: #aeb5be;
  border-radius: 4px;
  box-sizing: border-box;
  color: #102a43;
  font-size: 16px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.template-editor-section-setting textarea:focus {
  outline-color: #858c95;
}

.template-editor-section-setting-dropdown {
  margin-top: 5px;
  width: 200px;
}

.template-editor-section-setting-flexbox {
  align-items: center;
  display: flex;
}

.template-editor-section-setting-flexbox-right {
  margin-left: auto;
}

.template-editor-section-setting-title {
  color: #243b53;
}

.template-editor-section-setting-description {
  color: #4a5058;
}

.template-editor-not-available {
  color: #4a5058;
  font-weight: 500;
  margin-top: 20px;
}

.template-editor-not-available a {
  color: #4a5058;
  text-decoration: underline;
}

.template-editor-not-available button {
  background: none !important;
  border: none;
  color: #4a5058;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0 !important;
  text-decoration: underline;
}
