.template-manager-notice {
  color: #4a5058;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.template-manager-template {
  align-items: center;
  border-top: 1px solid #aeb5be;
  display: flex;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
