.form-history-record {
  align-items: center;
  border-top: 1px solid #aeb5be;
  display: grid;
  display: flex;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.form-history-record-action {
  flex-grow: 1;
}

.form-history-record-metadata {
  color: #4a5058;
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .form-history-record-metadata {
    display: none;
  }
}

.form-history-record-metadata-mobile {
  color: #4a5058;
  display: none;
}

@media screen and (max-width: 600px) {
  .form-history-record-metadata-mobile {
    display: block;
  }
}

.form-history-notice {
  align-items: center;
  color: #4a5058;
  border-top: 1px solid #aeb5be;
  padding: 10px;
}

.form-history-notice ul {
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-history-records {
  background-color: white;
  border: 1px solid #aeb5be;
  border-radius: 6px;
  margin-top: 10px;
}

.form-history-title {
  background-color: #ebedef;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #102a43;
  font-size: 18px;
  padding: 10px;
}
